{% extends 'core/base.html' %}
{% load bootstrap_pagination %}
{% block main %}
<div class="row">
	<div class="col-md-12">
		<div class="well">
		<form>
		{{ filter_form.as_p }}
		<button class="btn btn-warning" type="submit">Filter</button>
		
		</form>
		</div>
		{% if msgs %}
		<table class="table table-condensed table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Phone</th>
					<th>Direction</th>
					<th>Text</th>
				</tr>
			</thead>
			<tbody>
				{% for message in msgs %}
				<tr>
					<td>{{ message.date|date:'d/M/Y' }}</td>
					<td>{{ message.date|date:'h:i A' }}</td>
					<td>{{ message.connection.identity }}</td>
					<td>{{ message.get_direction_display }}</td>
					<td>{{ message.text }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-center center-style">
			{% bootstrap_paginate page_obj range=10 %}
			<br>
			<ul class="pagination pagination-sm">
				{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
				{% endif %}
				<li><a href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
				{% if page_obj.has_has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}"></a></li>
				{% endif %}
			</ul>
		</div>
		{% else %}
		<p>No messages</p>
		{% endif %}
	</div>
</div>
{% endblock %}