{% extends 'core/base.html' %}
{% load common %}
{% block main %}
<div>
{% if reports %}
<table class="pure-table">
	<thead>
		<tr>
			<th rowspan="2">Reporter</th>
			<th rowspan="2">Phone</th>
			<th rowspan="2">Time</th>
			<th rowspan="2">Date</th>
			{% for group in checklist.groups.all %}
			<th colspan="{{ group.fields.count }}">{{ group.name }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for group in checklist.groups.all %}
			{% for field in group.fields.all %}
			<th><abbr title="{{ field.description }}">{{ field.name }}</abbr></th>
			{% endfor %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for report in reports %}
		<tr>
			<td>{{ report.reporter.name }}</td>
			<td>{{ report.reporter.contact.connection_set.all.0.identity }}</td>
			<td>{{ report.updated|date:'h:i:s A' }}</td>
			<td>{{ report.updated|date:'D d/M/Y' }}</td>
			{% for group in checklist.groups.all %}
			{% for field in group.fields.all %}
			<td>{{ report.data|hash:field.name }}</td>
			{% endfor %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<div>
<ul class="pure-paginator">
{% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
{% endif %}
<li><a href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
{% if page_obj.has_has_next %}
<li><a href="?page={{ page_obj.next_page_number }}"></a></li>
{% endif %}
</ul>
</div>
{% else %}
<p>No messages</p>
{% endif %}
</div>
{% endblock %}