{% extends 'core/base.html' %}
{% load bootstrap_pagination %}
{% load common %}
{% block main %}
<div class="row">
	<div class="col-md-12">
		{% if reports %}
		<div class="table-responsive">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Phone</th>
						<th width="80">Reporter</th>
						<th width="80">Facility</th>
						{% for group in checklist.groups.all %}
						{% for field in group.fields.all %}
						<th><abbr title="{{ group.name }} : {{ field.description }}">{{ field.name }}</abbr></th>
						{% endfor %}
						{% endfor %}
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					{% for report in reports %}
					<tr>
						<td>{{ report.updated|date:'d/M/Y' }}</td>
						<td>{{ report.updated|date:'h:i A' }}</td>
						<td>{{ report.reporter.contact.connection_set.all.0.identity }}</td>
						<td width="80">{{ report.reporter.name }}</td>
						<td width="80">LGA OFFICE AYAMELUM</td>
						{% for group in checklist.groups.all %}
						{% for field in group.fields.all %}
						<td>{{ report.data|hash:field.name }}</td>
						{% endfor %}
						{% endfor %}
						<td><a href="{% url 'report_edit' pk=report.pk %}">Edit</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</table>
		</div>
		<div class="text-center center-style">
			{% bootstrap_paginate page_obj range=10 %}
			<br>
			<ul class="pagination pagination-sm">
				{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
				{% endif %}
				<li><a href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
				{% if page_obj.has_has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}"></a></li>
				{% endif %}
			</ul>
		</div>
		{% else %}
		<p>No messages</p>
		{% endif %}
	</div>
</div>
{% endblock %}