{% extends 'core/base.html' %}
{% block main %}
<div class="row">
	<div class="col-md-12">
	{% if workers %}
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>Name</th>
				<th>Location</th>
				<th>Phone</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			{% for worker in workers %}
			<tr>
				<td><input type="checkbox"></td>
				<td>{{ worker.name }}</td>
				<td>{{ worker.location }}</td>
				<td>{{ worker.contact.connection_set.first.identity }}</td>
				<td><a href="#">Edit</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		<ul class="pure-paginator">
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}"></a></li>
			{% endif %}
			<li><a href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
			{% if page_obj.has_has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}"></a></li>
			{% endif %}
		</ul>
	</div>
	{% else %}
	<p>No registered personnel</p>
	{% endif %}
	</div>
</div>
{% endblock %}