body{padding: 35px; background-color: ;}
.navbar-brand{text-shadow: 1px 1px 2px rgba(0,0,0,0.25);}
.navbar-nav>li>a {text-shadow: 1px 1px 2px rgba(0,0,0,0.25);}
.divider-vertical {border-left: 1px solid #65D5E4;}
.table{font-size: 12px;}
.center-style{margin-top: 3em;}
.pagination{margin-top:2px;}
.form-inline > * {padding-top:5.3px;}
.form-inline .form-group p{display: inline-block; margin-bottom: 0px;}
.form-inline .form-group .btn-custom{margin-top:-24px; margin-bottom: 0px;}
.form-inline .form-group select.col-md-1, .form-inline .form-group input.col-md-1, .col-md-1{width: 81px;}
.form-inline .form-group select.col-md-2, .form-inline .form-group input.col-md-2, .col-md-2{width: 170px;}
.form-inline .form-group select.col-md-3, .form-inline .form-group input.col-md-3, .col-md-3{width: 255px;}
